<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="./style/style.css" rel="stylesheet" type="text/css">
	<title>Customer Actions | Nanno's Food</title>
</head>
<body>
	<center>
	<br/>
	<input type="button" class="button" value="Add New Customer"
	onclick="window.location='./add_customer_ui.php'"/><br /><br />

	<input type="button" class="button" value="Update/Delete Customer"
	onclick="window.location='./customerCRUD.php'"/><br /><br />

	<input type="button" class="button" value="Return to Main"
	onclick="window.location='./index.html'"/>
	</center>
</body>
</html>