<html>
	<head>
		<title>Customer</title>
		<link href="./style/style.css" rel="stylesheet" type="text/css">
	</head>
<body>
	<center>
	<input type="button" class="button" value="Add New Customer"
	onclick="window.location='../view/add_customer_ui.php'"/><br /><br />

	<input type="button" class="button" value="Update Customer Info"
	onclick="window.location='../view/modify_customer_ui.php'"/><br /><br />

	<input type="button" class="button" value="Delete Existing Customer"
	onclick="window.location='../view/delete_customer_ui.php'"/><br /><br />

	<input type="button" class="button" value="Return to Main"
	onclick="window.location='../view/index.html'"/>
	</center>
</body>
</html>
