<!-- This is the initial screen for the Inventory Handling System -->
<!-- index.html -->
<HTML>
	<HEAD>
		<TITLE>Nanno's Farms Inventory System</TITLE>
		<link href="./style/style.css" rel="stylesheet" type="text/css">
	</HEAD>
	
	<BODY>
		<CENTER>
			<H1> Inventory System </H1>
			<!-- Setup navigation button -->
			<input type="button" class="button" value="Items" 
			onclick="window.location='item_main.html'"/><br /><br />
			
			<input type="button" class="button" value="Customers"
			onclick="window.location='customer_main.html'"/><br /><br />
			
			<input type="button" class="button" value="Stores"
			onclick="window.location='store_main.html'"/><br /><br />
		</CENTER>
	</BODY>
</HTML>