<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet">
	<link href="./style/style.css" rel="stylesheet" type="text/css">
	<title>Store Actions | Nanno's Food</title>
</head>

<html>
<body background="style/img/wavy-dots/wavy-dots.png">
	<center>
			<h1>Store Actions:</h1>
			<br/>
	<input type="button" class="greybutton" value="Add New Store"
	onclick="window.location='./add_store_ui.php'"/><br /><br />
	
	<input type="button" class="greybutton" value="Modify/Delete Existing Store"
	onclick="window.location='./storeCRUD.php'"/><br /><br />
	
	<input type="button" class="greybutton" value="Return to Main"
	onclick="window.location='index.html'"/>
	</center>
</body>
</html>