<html>
	<head>
		<title>Store Locations</title>
		<link href="./style/style.css" rel="stylesheet" type="text/css">
	</head>
<body>
	<center>
	<input type="button" class="button" value="Add New Store"
	onclick="window.location='./php/new_store_ui.php'"/><br /><br />
	
	<input type="button" class="button" value="Modify Existing Store"
	onclick="window.location='./php/modify_store.php'"/><br /><br />
	
	<input type="button" class="button" value="Delete Existing Store"
	onclick="window.location='./php/delete_store.php'"/><br /><br />
	
	<input type="button" class="button" value="Return to Main"
	onclick="window.location='index.html'"/>
	</center>
</body>
</html>